# https://pre-commit.com
default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
        args:
          - '--maxkb=2000'
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: .*\.md # Markdown

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.4
    hooks:
      - id: commitizen
        stages: [commit-msg]
