---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-locust-io-v2-locusttest
  failurePolicy: Fail
  name: vlocusttest-v2.kb.io
  rules:
  - apiGroups:
    - locust.io
    apiVersions:
    - v2
    operations:
    - CREATE
    - UPDATE
    resources:
    - locusttests
  sideEffects: None
